*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:white;
    /* color: white; */
    font-family: sans-serif;
    overflow: hidden;
}

.navi{
    background-color:rgb(180, 170, 170);
}


.main-nav li a{
    display: inline;
    list-style: none;
    color: #f1ebeb;
    text-decoration: none; 
   
}

.main-nav li a:hover{
    color: white;
}

/* .active{
    background-color: rgb(141, 110, 73);
} */

.menu ul li{
    display: inline;
    list-style: none;
    margin-left:40px;
    margin: 0 20px;
    color: #f1ebeb;
    cursor: pointer;
    margin-right: 20%;
    /* float: center; */
}

.logo img{
    width: 30px;
    margin-bottom: -7Spx;
    margin-right: 48px;
}

.me{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    font-family: 'Crete Round', serif;

}

.info{
    width: 50%;
    float: left;
}


.info h3{
    font-size: 26px;
    width: 600px;
    color: rgb(141, 110, 73);
}


.info h1{
    font-size: 43px;
    width: 600px;
}


.info p{
    font-size: 20px;
    width: 650px;
    margin: 30px o 30px 40px;
    line-height: 25px;
    color: rgb(141, 110, 73);
}


.melogo img{
    position: absolute;
    right: 10px;
    width: 40vw;
    height: 80vh;
    margin-top: 10px;
}

.color{
    animation: color 6s infinite;

}

@keyframes color{
    0%{color:rgb(209, 202, 202);}
    25%{color:#BCBCBC;}
    50%{color: gray;}
    100%{color:#646464;}
}

.tele img{
    width: 50px;
    height: 80px;

}

.contact{
    font-family: 'Crete Round', serif;
    color: rgb(141, 110, 73);
    font-size: 20px;
}

.h1{
    animation: h1 6s infinite;

}

@keyframes h1{
    0%{color:rgb(209, 202, 202);}
    25%{color:#BCBCBC;}
    50%{color: gray;}
    100%{color:#646464;}
}
